/*rgba(5,96,175,255)

*/
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body {
  margin: 1rem
}

.App {
  text-align: center;
  
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.nav {
  display: flex;
  background-color: white;
}

.logo {
  max-width: 150px
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 20px;
  outline: none;
  border: 1.75px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  
}

input[type="text"]:focus,
input[type="number"]:focus {
   outline: none;
   border: none;
   box-shadow: 0px 0px 0px 2.5px blue;
   background-color: rgb(250, 250, 250);
}

input:focus::placeholder {
  color: rgba(255, 255, 255, 0);
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: rgb(212, 212, 212);
  color: black;
}

.EventList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.event {
  font-size: 1.15rem;
  width: 100%;
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 20px;
  position: relative;
  color: #fff;
  background-image: linear-gradient(to right top, #215599, #1e549e, #1c54a2, #1b53a7, #1c52ab, #1951b0, #184fb5, #194db9, #184abf, #1b47c5, #2043ca, #283ecf);
}

.link-div {
  text-align: center;
  
}

.link {
  color: white;
  font-size: 1.15rem;
}

.button-div {
  text-align: center;
}

.details-btn {
  font-weight: 600;
  font-size: .85rem;
  margin-top: 1rem;
  padding: 10px 62px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}

.details-btn:hover {
  transition: .25s;
  background-color: rgb(196, 196, 196);
}

.details {
  font-size: 1.05rem;
 margin-bottom: 2rem;
}

.name {
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 10px auto;
  text-align: left;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}



@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
    .EventList {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }
}

@media only screen and (max-width: 750px) {
  .EventList {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}