body {
    margin: 0;
}
.WelcomeScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient(to right top, #215599, #1e549e, #1c54a2, #1b53a7, #1c52ab, #1951b0, #184fb5, #194db9, #184abf, #1b47c5, #2043ca, #283ecf);
}
.welcome-nav {
    background-color: white;
}
.welcome-logo {
    max-width: 15%;;
}
.content-container {
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white!important;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.google-logo {
    max-width: 150px;
}
.welcome-text {
    font-size: 1.25rem;
    margin: 1rem;
    margin-bottom: 4rem;
}
.login-button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
    min-width: 10rem;
    margin: 1rem;
}
.google-btn {
    width: 184px;
    height: 42px;
    margin: 1rem;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669f2;
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
    
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: -8px;
    width: 18px;
    height: 18px;
}
.btn-text {
    float: right;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    background-color: #4285f4;
    width: 80%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.privacy-link {
    margin-top: 6rem;
}

@media only screen and (max-width: 1024px) {
    .welcome-logo {
        width: 125px;
        max-width: none;
    }
}

@media only screen and (max-width: 800px) {
    .content-container {
        width: 400px;
        height: 400px;
    }
    .google-logo {
        width: 100px;
    }
    .welcome-text {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .content-container {
        width: 375px;
        height: 400px;
    }
}

@media only screen and (max-width: 400px) {
    .content-container {
        width: 350px;
        height: 400px;
    }
    .google-logo {
        width: 100px;
    }
    .welcome-text {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .privacy-link {
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 350px) {
    .content-container {
        width: 250px;
        height: 350px;
    }
    .google-logo {
        width: 75px;
    }
    .welcome-text {
        font-size: 1rem;
        margin: 1rem;
    }
    .privacy-link {
        margin-top: 4rem;
    }
}